<!DOCTYPE html>
<html lang="en" class={@theme}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="robots" content="index,follow">
    <meta name="description" content={@title <> " - " <> @sub_title}>
    <meta property="og:title" content={@page_title}>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jehincastic.dev/">
    <meta property="og:locale" content="en_IN">
    <meta property="og:site_name" content="Castic Jehin | jehincastic.dev">
    <meta property="og:description" content={@title <> " - " <> @sub_title}>
    <.live_title suffix=" · Castic Jehin">
      <%= assigns[:page_title] || "Portfolio" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white dark:bg-gray-800 transition-colors duration-100 ease-linear">
    <%= @inner_content %>
  </body>
</html>
